/**Basic Setting**/
body{
    font-family: 'Lato', sans-serif;
    background-color: #f6f9f9;
    letter-spacing: 1px;
}
.box{
    padding: 2% 0;
}
.content-box{
    text-align: center;
}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
a:hover{
	text-decoration:none;
}
/***Navigation Section****/
.logo{
    margin-left: 60%;
}

/****Hero Section****/
.hero-section{
    background-image: url(../images/banner.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.hero-section .content-box{
    padding-top: 20%;
    padding-bottom: 10%;
}

.hero-section .content-box h1{
    font-size: 6.6em;
    color: #ffffff;
    font-weight: 700;
    letter-spacing: 5px;
}
.hero-section .content-box span{
    display: block;
    border-bottom: 2px solid #15a4fa;
    width: 100%;
    margin: 15px auto;
}

.hero-section .content-box p{
    color: #ffffff;
    padding: 15px 0;
}

.btn-hero{
    display: block;
    color: #ffffff;
    letter-spacing: 1.5px;
    font-size: 18px;
    margin: 5% auto;
    position: relative;
    z-index: 1;
    overflow: hidden;
}
.btn-hero::after{
    content: "";
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #15a4fa;
    z-index: -1;
    /*opacity: 0;*/
    transform: scaleY(0);
    transform-origin: bottom;
    transition: transform 250ms ease-in;
    -webkit-transition: transform 250ms ease-in;
    -moz-transition: transform 250ms ease-in;
    -o-transition: transform 250ms ease-in;
}
.btn-hero:hover:after{
    /* top:0;
     opacity: 1;*/
    transform: scaleY(1);
    transform-origin: top;
    cursor: pointer;
    border: none!important;
}
.hero-section .content-box .fa.fa-chevron-down{
    color: #ffffff;
    font-size: 1.2em;
    margin-top: 15%;
    transition: 250ms ease-in-out;
    -webkit-transition: 250ms ease-in-out;
    -moz-transition: 250ms ease-in-out;
    -o-transition: 250ms ease-in-out;
}
.hero-section .content-box .fa.fa-chevron-down:hover{
    transform: translateY(10px);
    color: #15a4fa;
}


/****About Section*****/
.about-section .content-box h2{
    font-weight: 400;
    font-size: 1.8em;
    color: #2d3950;
}
.about-section .content-box p{
    margin-top: 15px;
    line-height: 1.5;
    color: #999999;
    font-size: 1em;
}



/*****Service Section*****/
.service-section{
    background-color: #ffffff;
}
.icon-wrap{
    position: relative;
    width: 80px;
    height: 80px;
    text-align: center;
    font-size: 60px;
    color: #fff;
    border-radius: 5px;
    background-color: #48baff;
    margin: 0 auto 30px;
    z-index: 1;
}
.icon-wrap::after{
    content: "";
    position: absolute;
    top:0;
    right: 0;
    bottom: 0;
    width: 50%;
    background-color: #5fc3ff;
    z-index: -1;

}
.icon-wrap .fa.fa-mobile{
    transform: translate(2px, -8px);
}
.icon-wrap .fa.fa-paper-plane{
    font-size: 0.6em;
    transform: translate(-1px, -15px);
}
.icon-wrap .fa.fa-bullhorn{
    font-size: 0.7em;
    transform: translate(-1px, -15px);
}
.service-section .content-box h3{
    color: #2d3950;
    font-size: 1.25em;
}
.service-section .content-box p{
    font-size: 0.9em;
}



/*****Gallery Section*****/
.gallery-section .content-box h2{
    font-weight: 400;
    font-size: 1.8em;
    color: #2d3950;
}
.gallery-section .content-box p{
    margin-top: 8px;
    font-size: 0.9em;
}
.img-box{
    padding: 10px;
}
.img-box img{
    width: 100%;
    height: auto;
}



/******Contact Section**********/
.contact-section{
    background-color: #2b364a;
}

.contact-section .content-box h2{
    color: #ffffff;
}
.contact-section .content-box p{
    color: #999999;
    font-size: 0.9em;
    margin-top: 10px;
}
.form-control{
    background-color: transparent;
    height: calc(1.8em + .9rem + 3px);
    padding: 0.4rem .75rem;
}
.form-control:focus {
    color: #d9d7d7;
    background-color: #117a8b26;
}
::placeholder{
    color: #888a8c;
}

label{
    color: #ffffff;
    font-size: 0.7em;
}
.btn-sub{
    float: right;
    color: #ffffff;
    padding: .5rem 2rem;
}


/*******Footer Section******/
.footer span{
    font-size: .9em;
    color: #B4B5B5;
}
.icon{
    display: inline-flex;
    background-color: #15a4fa;
    padding: 4px;
    color:#ffffff;
}
.icon .fa.fa-facebook{
    padding: 0 5px;
}
.icon .fa.fa-twitter{
    padding: 0 2px;
}
.icon .fa.fa-linkedin{
    padding: 0 3px;
}